[mysql]
auto-rehash                                                       # 自動リハッシュを有効にします。このオプションはデフォルトでオンになっており、データベース、テーブル、およびカラムの名前補完が可能になります。

[mysqld]
port   = 3306
socket = /tmp/mysql.sock

### タイムゾーン
default-time-zone = 'Asia/Tokyo'                                   # タイムゾーンテーブルのロード後にコメントインして再起動

### チャーセット
character-set-server = utf8mb4
collation-server     = utf8mb4_bin

skip-external-locking                                              # システムロックを使用しない
#lower_case_table_names = 1                                         # テーブル名やデータベース名をすべてを小文字に丸める
default-storage-engine = InnoDB                                    # デフォルトのストレージエンジンを「InnoDB」にする

default_authentication_plugin = mysql_native_password              # 認証方式が caching_sha2_password に変わったため、旧認証方式に変更する
default_password_lifetime     = 0                                  # ユーザーのパスワードの有効期限を無期限にする

open-files-limit = 65536                                           # ファイルディスクリタ数
# open_files_limit は以下のうち最大値が利用される
#  - open_files_limit
#  - max_connections * 5
#  - table_open_cache * 2 + max_connections + 10
max_connections                 = 32                               # 同時に接続できるクライアントの最大数
# max_connections が open_files_limit - 810 より大きい場合、open_files_limit - 810 になる
table_open_cache                = 32                               # テーブルキャッシュ数
# table_open_cache が (open_files_limit - 10 - max_connections) / 2 よりも大きい場合、警告が出る

thread_cache_size               = 8                                # スレッドキャッシュ数（「max_connections」の3分の1にするのが一般的）
max_allowed_packet              = 4M                               # 1パケットの最大サイズ

### Slow Query
slow_query_log      = ON                                           # スロークエリログの出力可否
slow_query_log_file = slow.log                                     # スロークエリログファイル
long_query_time     = 3                                            # スロークエリと見なす処理時間（単位：秒）

### Binary Log
log-bin                    = mysql-bin                             # バイナリログファイル名のプレフィックス
binlog_expire_logs_seconds = 5184000                               # バイナリログの保持秒数(60日)
max_binlog_size            = 512M                                  # バイナリログファイルの最大サイズ
#binlog_do_db              = sample                                # バイナリログを出力するデータベース
binlog_ignore_db           = mysql information_schema              # バイナリログを出力しないデータベース

### Replication
server-id = 1                                                      # サーバーID

### InnoDB
innodb_buffer_pool_size         = 64MB                             # データやインデックスをキャッシュするためのメモリサイズ[グローバル]
innodb_log_file_size            = 8M                               # 更新ログを記録するファイルサイズ[グローバル]
innodb_log_files_in_group       = 3                                # 更新ログを記録するファイル数[グローバル]※innodb_log_file_size * innodb_log_files_in_group < innodb_buffer_pool_sizeとなってはいけない
innodb_lock_wait_timeout        = 120                              # ロック待ちタイムアウト秒
innodb_file_per_table           = 1                                # テーブルごとにテーブルスペースを作成する
innodb_temp_data_file_path      = ibtmp1:12M:autoextend:max:5G     # テンポラリーテーブルが InnoDB になり、デフォルトで autoextend がついているため、ディスクフルまで大きくなるので、max を設定する

[client]
default-character-set=utf8mb4
